Why iota: without double-slash?

Just to clarify why I believe `iota:` is the correct choice for this URI scheme.

From [RFC 7595 (URI Scheme Guidelines)](https://tools.ietf.org/html/rfc7595), [section 3.2](https://tools.ietf.org/html/rfc7595#page-5):

```
   Schemes SHOULD avoid improper use of "//".  The use of double slashes
   in the first part of a URI is not a stylistic indicator that what
   follows is a URI: double slashes are intended for use ONLY when the
   syntax of the <scheme-specific-part> contains a hierarchical
   structure.  In URIs from such schemes, the use of double slashes
   indicates that what follows is the top hierarchical element for a
   naming authority (Section 3.2 of RFC 3986 has more details).  Schemes
   that do not contain a conformant hierarchical structure in their
   <scheme-specific-part> SHOULD NOT use double slashes following the
   "<scheme>:" string.
```

See also the discussion in #5.